In [83]:
import os

In [84]:
globals()['_dh'][0]

'C:\\Users\\kwadud\\OneDrive - GHD\\PythonProjects\\tutorials'

In [96]:
# To get current directory in absolute path

CWD = globals()['_dh'][0]

# Alternatively  os.path.abspath('')
DATA_FOLDER = os.path.join(CWD , 'data')


data_location = os.path.join(CWD , 'data', 'datafile.csv')

DATA_FOLDER

'C:\\Users\\kwadud\\OneDrive - GHD\\PythonProjects\\tutorials\\data'

In [95]:
data_location

'C:\\Users\\kwadud\\OneDrive - GHD\\PythonProjects\\tutorials\\data\\datafile.csv'

In [26]:
import pandas as pd

In [38]:
'''
The code below is nifty way of reading csv file 

'''
roster = pd.read_csv(
    data_location,
    converters={"NetID": str.upper, "Email Address": str.upper},
    usecols=["NetID", "Email Address", "Section"],
    index_col="NetID",
    )

roster

In [66]:
df2 = pd.read_csv(
    data_location,
    converters={"NetID": str.upper, "Email Address": str.upper},
    usecols= lambda x: "Final" not in x,   ## exclude column with Final 
    index_col="NetID",
    nrows=2
    
    )

df2

      Email Address Section  exam1  exam2  exam3
NetID
1           A@G.COM     dhk     12      1      5
2           B@D.COM     ctg      3      1      5

In [132]:
## Read excel file one by one and append to an empty dataframe

import glob

#glob.glob(os.path.join(DATA_FOLDER, "*.xlsx"))

all_df =[]

for f in glob.glob(os.path.join(DATA_FOLDER, "*.xlsx")):
    df = pd.read_excel(f)
    #print(df)
    all_df.append(df)

df_final = pd.concat(all_df, axis=0, ignore_index=True)

df_final

  Name  Price
0   kk      1
1   vv      5
2   cc      6
3   kk      1
4   vv      5
5   cc      6
6   kk      1
7   vv      5
8   cc      6

In [138]:
## Most elegent way of refactoring the above loop !!!  :)   ###  map requores a functon and a list

df = pd.concat( map(pd.read_excel, glob.glob(os.path.join(DATA_FOLDER, "*.xlsx"))), ignore_index=True)

df

  Name  Price
0   kk      1
1   vv      5
2   cc      6
3   kk      1
4   vv      5
5   cc      6
6   kk      1
7   vv      5
8   cc      6